<ion-card color="medium" class="border-[1px] border-primary">
  <!-- Default Image -->
  <img
    alt="Silhouette of mountains"
    src="https://ionicframework.com/docs/img/demos/card-media.png"
    class="p-4 mx-auto h-80 object-cover transition-opacity duration-300 hover:opacity-0"
  />

  <!-- Hover Image -->
  <img
    alt="Hover Image"
    src="https://placehold.co/400"
    class="p-4 mx-auto h-80 object-cover transition-opacity duration-300 absolute top-0 left-0 opacity-0 hover:opacity-100"
  />
  <ion-card-header>
    <ion-card-title class="hover:underline text-lg font-bold"
      >Card Title</ion-card-title
    >
    <ion-card-subtitle class="text-base">$16.00</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-button fill="outline" class="font-roboto w-full"
      >Add To Cart</ion-button
    >
  </ion-card-content>
</ion-card>
