<div
  class="bg-[url('https://res.cloudinary.com/duoa4oiur/image/upload/v1728830651/samples/ecommerce/leather-bag-gray.jpg')] bg-cover h-[500px] flex items-center px-10"
>
  <ion-card class="w-[500px] flex flex-col items-start bg-white p-10">
    <ion-card-header>
      <ion-card-title class="text-primary font-roboto font-bold text-4xl"
        >Your hair, but better.</ion-card-title
      >
    </ion-card-header>
    <ion-card-content class="flex flex-col items-start gap-5">
      <p class="text-start text-primary/70 font-poppins">
        Lather up with our newest shampoo for clean, strong, and healthy hair.
      </p>
      <button class="py-3 px-6 rounded-3xl bg-primary text-white font-roboto">
        Shop Shampoo
      </button>
    </ion-card-content>
  </ion-card>
</div>
