<ion-content>
  <app-banner></app-banner>
  <h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    reprehenderit ipsa harum, eligendi quisquam voluptatem aut obcaecati
    pariatur maxime velit. Dicta eveniet deleniti quia, consequuntur ratione
    esse. Officia, repudiandae odit. Porro perferendis rem quisquam esse tempore
    ea corporis vitae dolorem nostrum. Sunt sapiente, voluptatum rerum eum esse
    earum maxime quis autem, natus mollitia ipsam a quas. Cum amet facilis
    doloribus. Reiciendis porro, eaque fuga eius tempore possimus illum ex
    cupiditate nesciunt deleniti quas esse optio atque odio pariatur quae
    exercitationem maiores laborum libero labore reprehenderit minima excepturi.
    Rem, odit sapiente? doloribus. Reiciendis porro, eaque fuga eius tempore
    possimus illum ex cupiditate nesciunt deleniti quas esse optio atque odio
    pariatur quae exercitationem maiores laborum libero labore reprehenderit
    minima excepturi. Rem, odit sapiente?
  </h1>
</ion-content>
