<footer class="bg-primary px-16 py-10">
  <div class="flex flex-col items-center justify-center gap-5">
    <h1 class="font-roboto text-white text-5xl font-bold">
      Get 10% off your first order.
    </h1>
    <p class="font-poppins text-medium/70">
      Plus get early access to new launches and our best self-care tips.
    </p>
    <ion-item
      color="primary"
      class="w-80 border-[1px] border-medium/70 rounded-2xl"
    >
      <ion-input
        label="Email"
        label-placement="floating"
        fill="clear"
        placeholder="Enter email"
        class="text-white"
      ></ion-input>
      <ion-button fill="clear" slot="end" class="text-white">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <div class="grid grid-cols-4 gap-10 mt-10">
    <div class="flex flex-col items-start gap-5">
      <h1 class="text-xl font-bold">Shop</h1>
      <ul class="list-none flex flex-col gap-2">
        <li class="font-poppins text-light/60 text-sm">Hair</li>
        <li class="font-poppins text-light/60 text-sm">Body</li>
        <li class="font-poppins text-light/60 text-sm">Face</li>
        <li class="font-poppins text-light/60 text-sm">Skin</li>
      </ul>
    </div>
    <div class="flex flex-col items-start gap-5">
      <h1 class="text-xl font-bold">About</h1>
      <ul class="list-none flex flex-col gap-2">
        <li class="font-poppins text-light/60 text-sm">Our story</li>
        <li class="font-poppins text-light/60 text-sm">Shipping and returns</li>
        <li class="font-poppins text-light/60 text-sm">Contact</li>
        <li class="font-poppins text-light/60 text-sm">Blog</li>
      </ul>
    </div>
    <div class="flex flex-col items-start gap-5">
      <h1 class="text-xl font-bold">Our mission</h1>
      <p class="font-poppins text-light/60 text-sm">
        We make the internet's favorite men's products. No harmful chemicals and
        made in the USA.
      </p>
    </div>
    <div class="flex flex-col items-start gap-5">
      <img
        src="https://theme-refresh-demo.myshopify.com/cdn/shop/files/logo.png?v=1650474991&width=500"
        alt="Logo"
        class="w-32"
      />
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="flex items-center gap-5 py-10">
      <ion-icon name="logo-twitter" class="text-xl"></ion-icon>
      <ion-icon name="logo-instagram" class="text-xl"></ion-icon>
      <ion-icon name="logo-facebook" class="text-xl"></ion-icon>
      <ion-icon name="logo-linkedin" class="text-xl"></ion-icon>
      <ion-icon name="logo-youtube" class="text-xl"></ion-icon>
    </div>
    <hr />
    <p class="font-poppins text-light/60 text-xs">
      © 2025, theme-refresh-demo Powered by Shopify
    </p>
  </div>
</footer>
